Exercices
=========

Numbers
-------

In [1]:
def almost_square(number: int) -> int:
    return (number + 1) * (number - 1)

In [4]:
nb = almost_square(14)

In [5]:
print(nb)

195

In [6]:
almost_square(2.5)

5.25

In [7]:
def area_and_perimeter(length: int, width: int) -> tuple[int, int]:
    return (
        length * width,
        2 * (length + width),
    )

---

In [9]:
number = int(input("give me a number: "))
if number % 3 == 0:
    print("OK")
else:
    print("KO")

give me a number:  42

OK

In [10]:
number = int(input("give me a number: "))
if number % 3 == 0:
    print("OK")
else:
    print("KO")

give me a number:  55

KO

---

In [16]:
def triple_odd(start: int, stop: int) -> list[int]:
    """
    Returns the list of all multiples of 3, but not of 2 within the range between start included and stop excluded.

    >>> triple_odd(100, 120)
    [105, 111, 117]
    """
    for number in range(start, stop):
        print(number)

triple_odd(100, 120)

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119

In [15]:
def triple_odd(start: int, stop: int) -> list[int]:
    """
    Returns the list of all multiples of 3, but not of 2 within the range between start included and stop excluded.

    >>> triple_odd(100, 120)
    [105, 111, 117]
    """
    for number in range(start, stop):
        if number % 2 == 1 and number % 3 == 0:
            print(number)

triple_odd(100, 120)

105
111
117

In [17]:
def triple_odd(start: int, stop: int) -> list[int]:
    """
    Returns the list of all multiples of 3, but not of 2 within the range between start included and stop excluded.

    >>> triple_odd(100, 120)
    [105, 111, 117]
    """
    result = []
    for number in range(start, stop):
        if number % 2 == 1 and number % 3 == 0:
            result.append(number)
    return result

triple_odd(100, 120)

[105, 111, 117]

In [19]:
first = int(input("define the first value: "))
last = int(input("define the last value: "))
triple_odd(first, last)

define the first value:  42
define the last value:  55

[45, 51]

In [20]:
triple_odd(start=first, stop=last)

[45, 51]

In [25]:
def triple_odd(*numbers) -> list[int]:
    print(type(numbers))
    result = []
    for number in numbers:
        if number % 2 == 1 and number % 3 == 0:
            result.append(number)
    return result

triple_odd(1, 42, 3, 15, 9, 111, 134)

<class 'tuple'>

[3, 15, 9, 111]

In [26]:
min([12, 34, 56, 7])

7

In [27]:
min(12, 34, 56, 7)

7

---

In [36]:
def username_from_email(email: str) -> str:
    """
    Récupérer le nom d'utilisateur d'un email (partie avant l'arobase)

    >>> username_from_email("pythoniste@protonmail.com")
    'pythoniste'
    """
    return email.split("@")[0]

%timeit username_from_email("pythoniste@protonmail.com")

79.2 ns ± 2.44 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [37]:
def username_from_email(email: str) -> str:
    """
    Récupérer le nom d'utilisateur d'un email (partie avant l'arobase)

    >>> username_from_email("pythoniste@protonmail.com")
    'pythoniste'
    """
    return email[:email.index("@")]

%timeit username_from_email("pythoniste@protonmail.com")

112 ns ± 0.781 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [40]:
def is_palindrome(mot: str) -> bool:
    """
    Dit si un mot est un palindrome

    >>> est_palindrome("Anna")
    True
    >>> est_palindrome("Viviane")
    False
    """
    return mot[::-1].lower() == mot.lower()

In [41]:
is_palindrome("Anna")

True

In [42]:
is_palindrome("Vivianne")

False

---

In [48]:
from typing import Literal

def rochambeau(choice: Literal["rock", "paper", "scissors"]) -> str:
    """
    Playing Rock Paper Scissors
    >>> pierre_feuille_ciseaux("rock")
    you have won !
    >>> pierre_feuille_ciseaux("paper")
    you have lost !
    >>> pierre_feuille_ciseaux("scissors")
    this is a draw !
    """
    computer_choice = "scissors"
    if (choice, computer_choice) in [("rock", "paper"), ("paper", "scissors"), ("scissors", "rock")]:
        return "you have lost !"

    if (choice, computer_choice) in [("rock", "scissors"), ("paper", "rock"), ("scissors", "paper")]:
        return "you have won "!

    return "this is a draw !"

In [53]:
from typing import Literal

def rochambeau(choice: Literal["rock", "paper", "scissors"]) -> str:
    """
    Playing Rock Paper Scissors
    >>> pierre_feuille_ciseaux("rock")
    you have won !
    >>> pierre_feuille_ciseaux("paper")
    you have lost !
    >>> pierre_feuille_ciseaux("scissors")
    this is a draw !
    """
    computer_choice = "scissors"
    universe = ["rock", "paper", "scissors"]

    result = (universe.index(choice) - universe.index(computer_choice)) % 3

    if result == 0:
        return "this is a draw !"
    if result == 1:
        return "you have won !"
    return "you have lost !"

In [54]:
rochambeau("rock")

'you have won !'

In [66]:
from typing import Literal
from random import choice

def rochambeau(user_choice: Literal["rock", "paper", "scissors"]) -> str:
    """
    Playing Rock Paper Scissors
    >>> pierre_feuille_ciseaux("rock")
    you have won !
    >>> pierre_feuille_ciseaux("paper")
    you have lost !
    >>> pierre_feuille_ciseaux("scissors")
    this is a draw !
    """
    universe = ["rock", "paper", "scissors"]

    computer_choice = choice(universe)
    print(f"{computer_choice=}")
    
    result = (universe.index(user_choice) - universe.index(computer_choice)) % 3

    if result == 0:
        return "this is a draw !"
    if result == 1:
        return "you have won !"
    return "you have lost !"

In [71]:
rochambeau("rock")

computer_choice='scissors'

'you have won !'

---

In [84]:
from datetime import date

def calculate_age(birthdate: date) -> int:
    """
    Calculate the age of a person from the date of birth

    >>> calculate_age(date(2000, 1, 1))
    24
    >>> calculate_age(date(2000, 12, 31))
    23
    """
    delta = date.today() - birthdate
    return delta.days // 365

In [85]:
calculate_age(date(2009, 7, 11))

15

In [94]:
from datetime import time, timedelta, datetime

def calculate_end(start: time, duration: int | float) -> time:
    """
    Calculate the end time, knowing the start time and the duration

    >>> calculate_end(time(10, 0, 0), 1)
    datetime.time(11, 0)
    >>> calculate_end(time(9, 30, 0), 2.5)
    datetime.time(12, 0)
    >>> calculate_end(time(23, 30, 0), 2)
    datetime.time(1, 30)
    """
    datetime_start = datetime.combine(date.today(), start)
    datetime_stop = datetime_start + timedelta(days=0, seconds=duration * 3600)
    return datetime_stop.time()

In [95]:
calculate_end(time(10, 0, 0), 1)

datetime.time(11, 0)

In [96]:
calculate_end(time(23, 30, 0), 2)

datetime.time(1, 30)

In [99]:
FILENAME = "/home/sch-bm/Téléchargements/Classeur1.csv"

from pathlib import Path
Path(FILENAME).exists()

True

In [97]:
import csv

FILENAME = "/home/sch-bm/Téléchargements/Classeur1.csv"

with open(FILENAME) as f:
    dialect = csv.Sniffer().sniff(f.read())
    f.seek(0)
    reader = csv.DictReader(f, dialect=dialect)
    data = list(reader)

In [98]:
data

[{'last_name': 'Martin',
  'first_name': 'Lucas',
  'sex': 'M',
  'age': '21',
  'track': 'Finance',
  'grade': '9'},
 {'last_name': 'Dupont',
  'first_name': 'Inès',
  'sex': 'F',
  'age': '22',
  'track': 'Mkt',
  'grade': '15'},
 {'last_name': 'El Amrani',
  'first_name': 'Youssef',
  'sex': 'M',
  'age': '19',
  'track': 'Cpta',
  'grade': '7'},
 {'last_name': 'Pereira',
  'first_name': 'Sofia',
  'sex': 'F',
  'age': '20',
  'track': 'RH',
  'grade': '10'},
 {'last_name': 'Nguyen',
  'first_name': 'Thomas',
  'sex': 'M',
  'age': '18',
  'track': 'Mkt',
  'grade': '12'},
 {'last_name': 'Traoré',
  'first_name': 'Aïcha',
  'sex': 'F',
  'age': '21',
  'track': 'Finance',
  'grade': '11'},
 {'last_name': 'Romano',
  'first_name': 'Mattéo',
  'sex': 'M',
  'age': '22',
  'track': 'Cpta',
  'grade': '19'},
 {'last_name': 'Leclerc',
  'first_name': 'Morgan',
  'sex': 'M',
  'age': '21',
  'track': 'Finance',
  'grade': '5'}]

In [100]:
for datum in data:
    print(datum)
    break

{'last_name': 'Martin', 'first_name': 'Lucas', 'sex': 'M', 'age': '21', 'track': 'Finance', 'grade': '9'}

In [107]:
for datum in data:
    # datum.update({"email": ...})
    # datum |= {"email": ...}
    datum["email"] = f"{datum['first_name']}.{datum['last_name']}@edhec.com".lower()
    print(datum)
    break

{'last_name': 'Martin', 'first_name': 'Lucas', 'sex': 'M', 'age': '21', 'track': 'Finance', 'grade': '9', 'email': 'lucas.martin@edhec.com'}

In [108]:
for datum in data:
    datum["email"] = f"{datum['first_name']}.{datum['last_name']}@edhec.com".lower()

data

[{'last_name': 'Martin',
  'first_name': 'Lucas',
  'sex': 'M',
  'age': '21',
  'track': 'Finance',
  'grade': '9',
  'email': 'lucas.martin@edhec.com'},
 {'last_name': 'Dupont',
  'first_name': 'Inès',
  'sex': 'F',
  'age': '22',
  'track': 'Mkt',
  'grade': '15',
  'email': 'inès.dupont@edhec.com'},
 {'last_name': 'El Amrani',
  'first_name': 'Youssef',
  'sex': 'M',
  'age': '19',
  'track': 'Cpta',
  'grade': '7',
  'email': 'youssef.el amrani@edhec.com'},
 {'last_name': 'Pereira',
  'first_name': 'Sofia',
  'sex': 'F',
  'age': '20',
  'track': 'RH',
  'grade': '10',
  'email': 'sofia.pereira@edhec.com'},
 {'last_name': 'Nguyen',
  'first_name': 'Thomas',
  'sex': 'M',
  'age': '18',
  'track': 'Mkt',
  'grade': '12',
  'email': 'thomas.nguyen@edhec.com'},
 {'last_name': 'Traoré',
  'first_name': 'Aïcha',
  'sex': 'F',
  'age': '21',
  'track': 'Finance',
  'grade': '11',
  'email': 'aïcha.traoré@edhec.com'},
 {'last_name': 'Romano',
  'first_name': 'Mattéo',
  'sex': 'M',
  'age': '22',
  'track': 'Cpta',
  'grade': '19',
  'email': 'mattéo.romano@edhec.com'},
 {'last_name': 'Leclerc',
  'first_name': 'Morgan',
  'sex': 'M',
  'age': '21',
  'track': 'Finance',
  'grade': '5',
  'email': 'morgan.leclerc@edhec.com'}]

In [110]:
for datum in data:
    if datum["track"] == "Finance":
        print(datum["email"], datum["grade"])

lucas.martin@edhec.com 9
aïcha.traoré@edhec.com 11
morgan.leclerc@edhec.com 5

In [112]:
for datum in data:
    if int(datum["grade"]) < 12:
        print(datum["email"], datum["grade"])

lucas.martin@edhec.com 9
youssef.el amrani@edhec.com 7
sofia.pereira@edhec.com 10
aïcha.traoré@edhec.com 11
morgan.leclerc@edhec.com 5

In [119]:
for datum in data:
    datum |= {
        "email": f"{datum['first_name']}.{datum['last_name']}@edhec.com".lower(),
        "title": "Mr" if datum["sex"] == "M" else "Ms",
        "points": nb if (nb := (12 - int(datum["grade"]))) > 0 else None,
    }

data

[{'last_name': 'Martin',
  'first_name': 'Lucas',
  'sex': 'M',
  'age': '21',
  'track': 'Finance',
  'grade': '9',
  'email': 'lucas.martin@edhec.com',
  'title': 'Mr',
  'points': 3},
 {'last_name': 'Dupont',
  'first_name': 'Inès',
  'sex': 'F',
  'age': '22',
  'track': 'Mkt',
  'grade': '15',
  'email': 'inès.dupont@edhec.com',
  'title': 'Ms',
  'points': None},
 {'last_name': 'El Amrani',
  'first_name': 'Youssef',
  'sex': 'M',
  'age': '19',
  'track': 'Cpta',
  'grade': '7',
  'email': 'youssef.el amrani@edhec.com',
  'title': 'Mr',
  'points': 5},
 {'last_name': 'Pereira',
  'first_name': 'Sofia',
  'sex': 'F',
  'age': '20',
  'track': 'RH',
  'grade': '10',
  'email': 'sofia.pereira@edhec.com',
  'title': 'Ms',
  'points': 2},
 {'last_name': 'Nguyen',
  'first_name': 'Thomas',
  'sex': 'M',
  'age': '18',
  'track': 'Mkt',
  'grade': '12',
  'email': 'thomas.nguyen@edhec.com',
  'title': 'Mr',
  'points': None},
 {'last_name': 'Traoré',
  'first_name': 'Aïcha',
  'sex': 'F',
  'age': '21',
  'track': 'Finance',
  'grade': '11',
  'email': 'aïcha.traoré@edhec.com',
  'title': 'Ms',
  'points': 1},
 {'last_name': 'Romano',
  'first_name': 'Mattéo',
  'sex': 'M',
  'age': '22',
  'track': 'Cpta',
  'grade': '19',
  'email': 'mattéo.romano@edhec.com',
  'title': 'Mr',
  'points': None},
 {'last_name': 'Leclerc',
  'first_name': 'Morgan',
  'sex': 'M',
  'age': '21',
  'track': 'Finance',
  'grade': '5',
  'email': 'morgan.leclerc@edhec.com',
  'title': 'Mr',
  'points': 7}]

In [126]:
from pathlib import Path

result_path = Path(FILENAME).parent / Path("result.csv")
print(result_path)

with open(result_path, "w") as f:
    writer = csv.DictWriter(
        f,
        dialect=csv.unix_dialect,
        fieldnames=["email", "title", "points"],
        extrasaction="ignore",
    )
    writer.writeheader()
    writer.writerows(data)

/home/sch-bm/Téléchargements/result.csv

In [128]:
import json

json_path = Path(FILENAME).parent / Path("result.json")
print(json_path)

with open(json_path, "w") as f:
    json.dump(data, f)

/home/sch-bm/Téléchargements/result.json

---

In [129]:
emails = []
for datum in data:
    emails.append(datum["email"])

emails

['lucas.martin@edhec.com',
 'inès.dupont@edhec.com',
 'youssef.el amrani@edhec.com',
 'sofia.pereira@edhec.com',
 'thomas.nguyen@edhec.com',
 'aïcha.traoré@edhec.com',
 'mattéo.romano@edhec.com',
 'morgan.leclerc@edhec.com']

In [144]:
def transform(datum):
    return datum["email"]

gen = map(transform, data)

In [145]:
list(gen)

['lucas.martin@edhec.com',
 'inès.dupont@edhec.com',
 'youssef.el amrani@edhec.com',
 'sofia.pereira@edhec.com',
 'thomas.nguyen@edhec.com',
 'aïcha.traoré@edhec.com',
 'mattéo.romano@edhec.com',
 'morgan.leclerc@edhec.com']

In [147]:
[datum["email"] for datum in data]

['lucas.martin@edhec.com',
 'inès.dupont@edhec.com',
 'youssef.el amrani@edhec.com',
 'sofia.pereira@edhec.com',
 'thomas.nguyen@edhec.com',
 'aïcha.traoré@edhec.com',
 'mattéo.romano@edhec.com',
 'morgan.leclerc@edhec.com']

In [148]:
{datum["email"] for datum in data}

{'aïcha.traoré@edhec.com',
 'inès.dupont@edhec.com',
 'lucas.martin@edhec.com',
 'mattéo.romano@edhec.com',
 'morgan.leclerc@edhec.com',
 'sofia.pereira@edhec.com',
 'thomas.nguyen@edhec.com',
 'youssef.el amrani@edhec.com'}

In [149]:
{datum["email"]: datum["grade"] for datum in data}

{'lucas.martin@edhec.com': '9',
 'inès.dupont@edhec.com': '15',
 'youssef.el amrani@edhec.com': '7',
 'sofia.pereira@edhec.com': '10',
 'thomas.nguyen@edhec.com': '12',
 'aïcha.traoré@edhec.com': '11',
 'mattéo.romano@edhec.com': '19',
 'morgan.leclerc@edhec.com': '5'}

In [150]:
students = []

for datum in data:
    if datum["track"] == "Finance":
        students.append(datum)

students

[{'last_name': 'Martin',
  'first_name': 'Lucas',
  'sex': 'M',
  'age': '21',
  'track': 'Finance',
  'grade': '9',
  'email': 'lucas.martin@edhec.com',
  'title': 'Mr',
  'points': 3},
 {'last_name': 'Traoré',
  'first_name': 'Aïcha',
  'sex': 'F',
  'age': '21',
  'track': 'Finance',
  'grade': '11',
  'email': 'aïcha.traoré@edhec.com',
  'title': 'Ms',
  'points': 1},
 {'last_name': 'Leclerc',
  'first_name': 'Morgan',
  'sex': 'M',
  'age': '21',
  'track': 'Finance',
  'grade': '5',
  'email': 'morgan.leclerc@edhec.com',
  'title': 'Mr',
  'points': 7}]

In [153]:
def filter_finance(datum):
    return datum["track"] == "Finance"

gen = filter(filter_finance, data)

In [154]:
list(gen)

[{'last_name': 'Martin',
  'first_name': 'Lucas',
  'sex': 'M',
  'age': '21',
  'track': 'Finance',
  'grade': '9',
  'email': 'lucas.martin@edhec.com',
  'title': 'Mr',
  'points': 3},
 {'last_name': 'Traoré',
  'first_name': 'Aïcha',
  'sex': 'F',
  'age': '21',
  'track': 'Finance',
  'grade': '11',
  'email': 'aïcha.traoré@edhec.com',
  'title': 'Ms',
  'points': 1},
 {'last_name': 'Leclerc',
  'first_name': 'Morgan',
  'sex': 'M',
  'age': '21',
  'track': 'Finance',
  'grade': '5',
  'email': 'morgan.leclerc@edhec.com',
  'title': 'Mr',
  'points': 7}]

In [155]:
[datum for datum in data if datum["track"] == "Finance"]

[{'last_name': 'Martin',
  'first_name': 'Lucas',
  'sex': 'M',
  'age': '21',
  'track': 'Finance',
  'grade': '9',
  'email': 'lucas.martin@edhec.com',
  'title': 'Mr',
  'points': 3},
 {'last_name': 'Traoré',
  'first_name': 'Aïcha',
  'sex': 'F',
  'age': '21',
  'track': 'Finance',
  'grade': '11',
  'email': 'aïcha.traoré@edhec.com',
  'title': 'Ms',
  'points': 1},
 {'last_name': 'Leclerc',
  'first_name': 'Morgan',
  'sex': 'M',
  'age': '21',
  'track': 'Finance',
  'grade': '5',
  'email': 'morgan.leclerc@edhec.com',
  'title': 'Mr',
  'points': 7}]

In [156]:
[datum["email"] for datum in data if datum["track"] == "Finance"]

['lucas.martin@edhec.com',
 'aïcha.traoré@edhec.com',
 'morgan.leclerc@edhec.com']

---

---

In [157]:
import csv

FILENAME = "/home/sch-bm/Téléchargements/Classeur1.csv"

with open(FILENAME) as f:
    dialect = csv.Sniffer().sniff(f.read())
    f.seek(0)
    reader = csv.DictReader(f, dialect=dialect)
    data2 = list(reader)

In [162]:
example = data2[0]

In [163]:
example

{'last_name': 'Martin',
 'first_name': 'Lucas',
 'sex': 'M',
 'age': '21',
 'track': 'Finance',
 'grade': '9'}

In [164]:
from pydantic import BaseModel
from typing import Literal

class Student(BaseModel):
    first_name: str
    last_name: str
    sex: Literal["M", "F"]
    age: int
    track: str
    grade: int

In [165]:
Student(
    first_name="Simone",
    last_name="Simmons",
    sex="F",
    age=40,
    track="Finance",
    grade=20,
)

Student(first_name='Simone', last_name='Simmons', sex='F', age=40, track='Finance', grade=20)

In [166]:
Student(
    first_name="Simone",
    last_name="Simmons",
    sex="Z",
    age="AA",
    track="Finance",
    grade="20",
)

ValidationError: 2 validation errors for Student
sex
  Input should be 'M' or 'F' [type=literal_error, input_value='Z', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/literal_error
age
  Input should be a valid integer, unable to parse string as an integer [type=int_parsing, input_value='AA', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/int_parsing

In [167]:
Student(
    first_name="Simone",
    last_name="Simmons",
    sex="F",
    age="40",
    track="Finance",
    grade="20",
)

Student(first_name='Simone', last_name='Simmons', sex='F', age=40, track='Finance', grade=20)

In [168]:
example

{'last_name': 'Martin',
 'first_name': 'Lucas',
 'sex': 'M',
 'age': '21',
 'track': 'Finance',
 'grade': '9'}

In [169]:
Student.model_validate(example)

Student(first_name='Lucas', last_name='Martin', sex='M', age=21, track='Finance', grade=9)

In [170]:
Student(**example)

Student(first_name='Lucas', last_name='Martin', sex='M', age=21, track='Finance', grade=9)

In [171]:
students = [
    Student.model_validate(datum)
    for datum in data2
]
students

[Student(first_name='Lucas', last_name='Martin', sex='M', age=21, track='Finance', grade=9),
 Student(first_name='Inès', last_name='Dupont', sex='F', age=22, track='Mkt', grade=15),
 Student(first_name='Youssef', last_name='El Amrani', sex='M', age=19, track='Cpta', grade=7),
 Student(first_name='Sofia', last_name='Pereira', sex='F', age=20, track='RH', grade=10),
 Student(first_name='Thomas', last_name='Nguyen', sex='M', age=18, track='Mkt', grade=12),
 Student(first_name='Aïcha', last_name='Traoré', sex='F', age=21, track='Finance', grade=11),
 Student(first_name='Mattéo', last_name='Romano', sex='M', age=22, track='Cpta', grade=19),
 Student(first_name='Morgan', last_name='Leclerc', sex='M', age=21, track='Finance', grade=5)]

In [175]:
from enum import unique, StrEnum

@unique
class Sex(StrEnum):
    M = "M"
    F = "F"

@unique
class Track(StrEnum):
    Finance = "Finance"
    Mkt = "Mkt"
    Cpta = "Cpta"
    RH = "RH"

In [179]:
from typing import Annotated
from pydantic import AfterValidator

def is_a_grade(value: int) -> int:
    if 0 <= value <= 20:
        return value
    raise ValueError(f"Grade {value} should be between 0 and 20")

class Student(BaseModel):
    first_name: str
    last_name: str
    sex: Sex
    age: int
    track: Track
    grade: Annotated[int, AfterValidator(is_a_grade)]

In [177]:
students = [
    Student.model_validate(datum)
    for datum in data2
]
students

[Student(first_name='Lucas', last_name='Martin', sex=<Sex.M: 'M'>, age=21, track=<Track.Finance: 'Finance'>, grade=9),
 Student(first_name='Inès', last_name='Dupont', sex=<Sex.F: 'F'>, age=22, track=<Track.Mkt: 'Mkt'>, grade=15),
 Student(first_name='Youssef', last_name='El Amrani', sex=<Sex.M: 'M'>, age=19, track=<Track.Cpta: 'Cpta'>, grade=7),
 Student(first_name='Sofia', last_name='Pereira', sex=<Sex.F: 'F'>, age=20, track=<Track.RH: 'RH'>, grade=10),
 Student(first_name='Thomas', last_name='Nguyen', sex=<Sex.M: 'M'>, age=18, track=<Track.Mkt: 'Mkt'>, grade=12),
 Student(first_name='Aïcha', last_name='Traoré', sex=<Sex.F: 'F'>, age=21, track=<Track.Finance: 'Finance'>, grade=11),
 Student(first_name='Mattéo', last_name='Romano', sex=<Sex.M: 'M'>, age=22, track=<Track.Cpta: 'Cpta'>, grade=19),
 Student(first_name='Morgan', last_name='Leclerc', sex=<Sex.M: 'M'>, age=21, track=<Track.Finance: 'Finance'>, grade=5)]

In [201]:
Student(
    first_name="Simone",
    last_name="Simmons",
    sex="Z",
    age="AA",
    track="XXX",
    grade="25",
)

ValidationError: 4 validation errors for Student
sex
  Input should be 'M' or 'F' [type=enum, input_value='Z', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/enum
age
  Input should be a valid integer, unable to parse string as an integer [type=int_parsing, input_value='AA', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/int_parsing
track
  Input should be 'Finance', 'Mkt', 'Cpta' or 'RH' [type=enum, input_value='XXX', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/enum
grade
  Value error, Grade 25 should be between 0 and 20 [type=value_error, input_value='25', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/value_error

In [202]:
from typing import Annotated
from pydantic import field_validator

class Student(BaseModel):
    first_name: str
    last_name: str
    sex: Sex
    age: int
    track: Track
    grade: int

    @field_validator("grade", mode="after")
    @classmethod
    def is_a_grade(cls, value: int) -> int:
        if 0 <= value <= 20:
            return value
        raise ValueError(f"Grade {value} should be between 0 and 20")

In [203]:
Student(
    first_name="Simone",
    last_name="Simmons",
    sex="Z",
    age="AA",
    track="XXX",
    grade="25",
)

ValidationError: 4 validation errors for Student
sex
  Input should be 'M' or 'F' [type=enum, input_value='Z', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/enum
age
  Input should be a valid integer, unable to parse string as an integer [type=int_parsing, input_value='AA', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/int_parsing
track
  Input should be 'Finance', 'Mkt', 'Cpta' or 'RH' [type=enum, input_value='XXX', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/enum
grade
  Value error, Grade 25 should be between 0 and 20 [type=value_error, input_value='25', input_type=str]
    For further information visit https://errors.pydantic.dev/2.11/v/value_error

In [204]:
students

[Student(first_name='Lucas', last_name='Martin', sex=<Sex.M: 'M'>, age=21, track=<Track.Finance: 'Finance'>, grade=9),
 Student(first_name='Inès', last_name='Dupont', sex=<Sex.F: 'F'>, age=22, track=<Track.Mkt: 'Mkt'>, grade=15),
 Student(first_name='Youssef', last_name='El Amrani', sex=<Sex.M: 'M'>, age=19, track=<Track.Cpta: 'Cpta'>, grade=7),
 Student(first_name='Sofia', last_name='Pereira', sex=<Sex.F: 'F'>, age=20, track=<Track.RH: 'RH'>, grade=10),
 Student(first_name='Thomas', last_name='Nguyen', sex=<Sex.M: 'M'>, age=18, track=<Track.Mkt: 'Mkt'>, grade=12),
 Student(first_name='Aïcha', last_name='Traoré', sex=<Sex.F: 'F'>, age=21, track=<Track.Finance: 'Finance'>, grade=11),
 Student(first_name='Mattéo', last_name='Romano', sex=<Sex.M: 'M'>, age=22, track=<Track.Cpta: 'Cpta'>, grade=19),
 Student(first_name='Morgan', last_name='Leclerc', sex=<Sex.M: 'M'>, age=21, track=<Track.Finance: 'Finance'>, grade=5)]

In [205]:
[student for student in students if student.track == Track.Finance]

[Student(first_name='Lucas', last_name='Martin', sex=<Sex.M: 'M'>, age=21, track=<Track.Finance: 'Finance'>, grade=9),
 Student(first_name='Aïcha', last_name='Traoré', sex=<Sex.F: 'F'>, age=21, track=<Track.Finance: 'Finance'>, grade=11),
 Student(first_name='Morgan', last_name='Leclerc', sex=<Sex.M: 'M'>, age=21, track=<Track.Finance: 'Finance'>, grade=5)]

In [206]:
[student.grade for student in students if student.track == Track.Finance]

[9, 11, 5]

In [207]:
class Student(BaseModel):
    first_name: str
    last_name: str
    sex: Sex
    age: int
    track: Track
    grade: int

    @property
    def email(self):
        return f"{self.first_name}.{self.last_name}@edhec.com".lower()

    @field_validator("grade", mode="after")
    @classmethod
    def is_a_grade(cls, value: int) -> int:
        if 0 <= value <= 20:
            return value
        raise ValueError(f"Grade {value} should be between 0 and 20")

In [208]:
s = Student.model_validate(example)

In [209]:
s.email

'lucas.martin@edhec.com'

In [210]:
s

Student(first_name='Lucas', last_name='Martin', sex=<Sex.M: 'M'>, age=21, track=<Track.Finance: 'Finance'>, grade=9)

In [211]:
from pydantic import computed_field

class Student(BaseModel):
    first_name: str
    last_name: str
    sex: Sex
    age: int
    track: Track
    grade: int

    @computed_field
    @property
    def email(self) -> str:
        return f"{self.first_name}.{self.last_name}@edhec.com".lower()

    @field_validator("grade", mode="after")
    @classmethod
    def is_a_grade(cls, value: int) -> int:
        if 0 <= value <= 20:
            return value
        raise ValueError(f"Grade {value} should be between 0 and 20")

In [212]:
Student.model_validate(example)

Student(first_name='Lucas', last_name='Martin', sex=<Sex.M: 'M'>, age=21, track=<Track.Finance: 'Finance'>, grade=9, email='lucas.martin@edhec.com')

In [214]:
from pydantic import computed_field

class Student(BaseModel):
    first_name: str
    last_name: str
    sex: Sex
    age: int
    track: Track
    grade: int

    @computed_field
    @property
    def email(self) -> str:
        return f"{self.first_name}.{self.last_name}@edhec.com".lower()

    @computed_field
    @property
    def title(self) -> str:
        return "Mr" if self.sex == Sex.M else "Ms"

    @computed_field
    @property
    def points(self) -> int | None:
        result = 12 - self.grade
        return result if self.grade < 10 else None

    @field_validator("grade", mode="after")
    @classmethod
    def is_a_grade(cls, value: int) -> int:
        if 0 <= value <= 20:
            return value
        raise ValueError(f"Grade {value} should be between 0 and 20")

In [215]:
Student.model_validate(example)

Student(first_name='Lucas', last_name='Martin', sex=<Sex.M: 'M'>, age=21, track=<Track.Finance: 'Finance'>, grade=9, email='lucas.martin@edhec.com', title='Mr', points=3)

In [217]:
[
    Student.model_validate(student)
    for student in data2
]

[Student(first_name='Lucas', last_name='Martin', sex=<Sex.M: 'M'>, age=21, track=<Track.Finance: 'Finance'>, grade=9, email='lucas.martin@edhec.com', title='Mr', points=3),
 Student(first_name='Inès', last_name='Dupont', sex=<Sex.F: 'F'>, age=22, track=<Track.Mkt: 'Mkt'>, grade=15, email='inès.dupont@edhec.com', title='Ms', points=None),
 Student(first_name='Youssef', last_name='El Amrani', sex=<Sex.M: 'M'>, age=19, track=<Track.Cpta: 'Cpta'>, grade=7, email='youssef.el amrani@edhec.com', title='Mr', points=5),
 Student(first_name='Sofia', last_name='Pereira', sex=<Sex.F: 'F'>, age=20, track=<Track.RH: 'RH'>, grade=10, email='sofia.pereira@edhec.com', title='Ms', points=None),
 Student(first_name='Thomas', last_name='Nguyen', sex=<Sex.M: 'M'>, age=18, track=<Track.Mkt: 'Mkt'>, grade=12, email='thomas.nguyen@edhec.com', title='Mr', points=None),
 Student(first_name='Aïcha', last_name='Traoré', sex=<Sex.F: 'F'>, age=21, track=<Track.Finance: 'Finance'>, grade=11, email='aïcha.traoré@edhec.com', title='Ms', points=None),
 Student(first_name='Mattéo', last_name='Romano', sex=<Sex.M: 'M'>, age=22, track=<Track.Cpta: 'Cpta'>, grade=19, email='mattéo.romano@edhec.com', title='Mr', points=None),
 Student(first_name='Morgan', last_name='Leclerc', sex=<Sex.M: 'M'>, age=21, track=<Track.Finance: 'Finance'>, grade=5, email='morgan.leclerc@edhec.com', title='Mr', points=7)]

In [218]:
[
    Student.model_validate(student).model_dump()
    for student in data2
]

[{'first_name': 'Lucas',
  'last_name': 'Martin',
  'sex': <Sex.M: 'M'>,
  'age': 21,
  'track': <Track.Finance: 'Finance'>,
  'grade': 9,
  'email': 'lucas.martin@edhec.com',
  'title': 'Mr',
  'points': 3},
 {'first_name': 'Inès',
  'last_name': 'Dupont',
  'sex': <Sex.F: 'F'>,
  'age': 22,
  'track': <Track.Mkt: 'Mkt'>,
  'grade': 15,
  'email': 'inès.dupont@edhec.com',
  'title': 'Ms',
  'points': None},
 {'first_name': 'Youssef',
  'last_name': 'El Amrani',
  'sex': <Sex.M: 'M'>,
  'age': 19,
  'track': <Track.Cpta: 'Cpta'>,
  'grade': 7,
  'email': 'youssef.el amrani@edhec.com',
  'title': 'Mr',
  'points': 5},
 {'first_name': 'Sofia',
  'last_name': 'Pereira',
  'sex': <Sex.F: 'F'>,
  'age': 20,
  'track': <Track.RH: 'RH'>,
  'grade': 10,
  'email': 'sofia.pereira@edhec.com',
  'title': 'Ms',
  'points': None},
 {'first_name': 'Thomas',
  'last_name': 'Nguyen',
  'sex': <Sex.M: 'M'>,
  'age': 18,
  'track': <Track.Mkt: 'Mkt'>,
  'grade': 12,
  'email': 'thomas.nguyen@edhec.com',
  'title': 'Mr',
  'points': None},
 {'first_name': 'Aïcha',
  'last_name': 'Traoré',
  'sex': <Sex.F: 'F'>,
  'age': 21,
  'track': <Track.Finance: 'Finance'>,
  'grade': 11,
  'email': 'aïcha.traoré@edhec.com',
  'title': 'Ms',
  'points': None},
 {'first_name': 'Mattéo',
  'last_name': 'Romano',
  'sex': <Sex.M: 'M'>,
  'age': 22,
  'track': <Track.Cpta: 'Cpta'>,
  'grade': 19,
  'email': 'mattéo.romano@edhec.com',
  'title': 'Mr',
  'points': None},
 {'first_name': 'Morgan',
  'last_name': 'Leclerc',
  'sex': <Sex.M: 'M'>,
  'age': 21,
  'track': <Track.Finance: 'Finance'>,
  'grade': 5,
  'email': 'morgan.leclerc@edhec.com',
  'title': 'Mr',
  'points': 7}]

In [219]:
students = [
    Student(**student).dict()
    for student in data2
]
students

/tmp/ipykernel_347723/3783666303.py:2: PydanticDeprecatedSince20: The `dict` method is deprecated; use `model_dump` instead. Deprecated in Pydantic V2.0 to be removed in V3.0. See Pydantic V2 Migration Guide at https://errors.pydantic.dev/2.11/migration/
  Student(**student).dict()

[{'first_name': 'Lucas',
  'last_name': 'Martin',
  'sex': <Sex.M: 'M'>,
  'age': 21,
  'track': <Track.Finance: 'Finance'>,
  'grade': 9,
  'email': 'lucas.martin@edhec.com',
  'title': 'Mr',
  'points': 3},
 {'first_name': 'Inès',
  'last_name': 'Dupont',
  'sex': <Sex.F: 'F'>,
  'age': 22,
  'track': <Track.Mkt: 'Mkt'>,
  'grade': 15,
  'email': 'inès.dupont@edhec.com',
  'title': 'Ms',
  'points': None},
 {'first_name': 'Youssef',
  'last_name': 'El Amrani',
  'sex': <Sex.M: 'M'>,
  'age': 19,
  'track': <Track.Cpta: 'Cpta'>,
  'grade': 7,
  'email': 'youssef.el amrani@edhec.com',
  'title': 'Mr',
  'points': 5},
 {'first_name': 'Sofia',
  'last_name': 'Pereira',
  'sex': <Sex.F: 'F'>,
  'age': 20,
  'track': <Track.RH: 'RH'>,
  'grade': 10,
  'email': 'sofia.pereira@edhec.com',
  'title': 'Ms',
  'points': None},
 {'first_name': 'Thomas',
  'last_name': 'Nguyen',
  'sex': <Sex.M: 'M'>,
  'age': 18,
  'track': <Track.Mkt: 'Mkt'>,
  'grade': 12,
  'email': 'thomas.nguyen@edhec.com',
  'title': 'Mr',
  'points': None},
 {'first_name': 'Aïcha',
  'last_name': 'Traoré',
  'sex': <Sex.F: 'F'>,
  'age': 21,
  'track': <Track.Finance: 'Finance'>,
  'grade': 11,
  'email': 'aïcha.traoré@edhec.com',
  'title': 'Ms',
  'points': None},
 {'first_name': 'Mattéo',
  'last_name': 'Romano',
  'sex': <Sex.M: 'M'>,
  'age': 22,
  'track': <Track.Cpta: 'Cpta'>,
  'grade': 19,
  'email': 'mattéo.romano@edhec.com',
  'title': 'Mr',
  'points': None},
 {'first_name': 'Morgan',
  'last_name': 'Leclerc',
  'sex': <Sex.M: 'M'>,
  'age': 21,
  'track': <Track.Finance: 'Finance'>,
  'grade': 5,
  'email': 'morgan.leclerc@edhec.com',
  'title': 'Mr',
  'points': 7}]